*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logo img{
    width: 65%;
    translate: 0 10px;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    width: 100vw;
    height:100vh ;
    display: flex;
    flex-direction: row;
}

.sidebar{
    background-color: black;
    width: 260px;
    height:100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
}

.song-menù{
    background-color: rgba(20,25,34,255);
    width: 100vw;
    height: 161vh;
    display: flex;
    flex-direction: column;
}

header{
    background-color: brown;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 260px;
    z-index: 1;
    
}

footer{
    display: flex;
    flex-direction: row;
    background-color: rgba(40,40,40,255);
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.sidebar-contain{
    background-color:coral ;
    width: calc(100% - 40px);
    height: 100%;
    margin: 15px 20px;
}

.logo{
    width: 100%;
    padding-bottom: 30px;
}

.menù{
    background-color: cadetblue;
    width: 100%;
}

.menù img{
    width: 15%;
}

.playlist{
    background-color: blueviolet;
    width: 100%;
}

.playlist h4{
    padding: 25px 0 10px;
}

.playlist ul li{
    padding: 7px 0;
}

.f-row{
    width: calc(100% - 20px);
    margin: 10px 10px;
    display: flex;
    flex-direction: row;
}

.col-left{
    width:25%;
    background-color: crimson;
}

.col-center{
    width: 50%;
    background-color: darkorange;
}

.col-right{
    width: 25%;
    background-color: crimson;
}

.button{
    width: 35%;
    height: 100%;
    background-color: greenyellow;
}

.container-song{
    width: calc(100% - 290px);
    height: calc(100% - 200px); 
    margin: 100px 290px 0;
}

.top-row{
    background-color: darkred;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.under-header-col{
    height: 20px;
    margin: 0 10px;
}

.row{
    background-color: cadetblue;
    width: 100%;
    height: 300px;
    margin: 10px 0 30px;
    display: flex;
    flex-direction: column;
}

.title-col{
    background-color: orangered;
    width: 100%;
    height: 50px;
}

.container-col{
    display: flex;
    flex-direction: row;
}

.col{
    margin: 10px 15px 0 0;
    background-color: olive;
}

.col img{
    width: 200px;
    height: 200px;
}

.radius img{
    border-radius: 50%;
}





