*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(20,25,34,255);
}

/* PRINCIPAL CONTAINER STYLE */
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    width: 100vw;
    height:100vh ;
    display: flex;
    flex-direction: row;
}
/* END PRINCIPAL CONTAINER STYLE */

/* SIDEBAR STYLE */
.sidebar{
    background-color: black;
    width: 260px;
    height:100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
}

.media-top{
    display: none;
}

.media-user{
    display: none;
}

.sidebar-contain{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% - 40px);
    height: calc(100% - 115px);
    margin: 15px 20px;
}

.logo{
    width: 100%;
    padding-bottom: 20px;
}

.logo img{
    width: 65%;
}

.menù{
    width: 100%;
}

.menù ul li{
    color:rgba(99,99,99,255);
    list-style-type: none;
}

.menù ul li span{
    position: relative;
    top: 10px;
    padding-right: 5px;
}

.menù img{
    width: 15%;
}

.playlist{
    width: 100%;
}

.playlist h4{
    padding: 25px 0 10px;
    color: white;
}

.playlist ul li{
    font-size: 13px;
    padding: 7px 0;
    color: rgba(99,99,99,255);
    display: flex;
    align-items: center;
}

.playlist ul li span i{
    font-size: 50px;
}

.user{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
}

.user-top{
    width: 100%;
    height: 50%;
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;
    
}

.user-bottom{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-top img{
    width: 20px;
}

.user-top a{
    color: rgba(100,100,100,255);
    text-decoration: none;
    padding-left: 10px;
}

.user-bottom h4{
    color: white;
    padding-left: 15px;
}

.user-icon{
    background-color: gray;
    border-radius: 50%;
}

.user-icon img{
    width: 30px;
    height: 25px;
}
/* END SIDEBAR STYLE */

/* MENU' SONG STYLE */
.song-menù{
    width: 100vw;
    height: 180vh;
}

header{
    background-color: rgba(0,0,0 , 0.5);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 260px;
    z-index: 1;
}

.button{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 270px;
    margin: 25px 0;
}

.container-song{
    width: calc(100% - 300px);
    margin: 100px 280px 0;
}

.top-row{
    padding: 10px 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.under-header-col{
    margin: 0 15px;
}

.under-header-col span a{
    font-size: 15px;
    text-decoration: none;
    color: rgba(104,106,111,255);
}

.active::after{
    content:"";
    width: 40px;
    height: 2px;
    margin: 0 35px;
    background-color: lime;
    display: flex;
    flex-wrap: wrap;
}

.row{
    width: 100%;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}

.title-col{
    width: 100%;
    padding-bottom: 15px;
}

.title-col h2{
    padding-bottom: 10px;
}

.container-col{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.col{
    width: calc(100% / 6 - 10px);
    text-align: center;
    margin: 10px 5px ;
}

.col h4{
    color: white;
    font-size: 17px;
    padding: 10px 0 10px;
}

.col p{
    color: rgba(115,118,123,255);
}

.for-me{
    width: 15%;
}

.col img{
    width: 100%;
}

.for-me img{
    width: 100%;
}

.radius{
    width: 15%;
}

.radius img{
    width: 100%;
    border-radius: 50%;
}

.button button{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 30px;
    padding: 10px 40px;
    color: white;
}

.title-col h2{
    color: white;
    font-size: 25px;
}

.title-col p{
    color:rgba(104,106,111,255) ;
}

.img-hover{
    position: relative;
}

.img-hover i{
    display: none;
    font-size: 70px;
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-hover .background{
    position: absolute;
    width: 100%;
    height: 98.4%;
    background-color: rgba(0, 0, 0, 0.49);
    display: none;
}

.img-hover .radius{
    border-radius: 50%;
}
/* END MENU' SONG STYLE */

/* FOOTER STYLE */
footer{
    display: flex;
    flex-direction: row;
    background-color: rgba(40,40,40,255);
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
}


.f-row{
    width: calc(100% - 20px);
    margin: 15px 10px;
    display: flex;
    flex-direction: row;
}

.col-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    width:25%;
}

.col-center{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.col-right{
    object-fit: contain;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 25%;
    
}

.col-right i{
    font-size: 13px;
    margin: 10px;
    color: white;
}

.col-right input{
    overflow: auto;
}

.song-img img{
    width: 60px;
    height: 60px;
}

.title-song{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 15px;
}

.title-song h5{
    color: white;
}

.title-song p{
    color: rgba(122,122,122,255);
    font-size: 11px;
}

.icons{
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.icons i{
    color: rgba(122,122,122,255);
    font-size: 17px;
    margin: 0 7px;
}

.col-center-top{
    text-align: center;
    width: 100%;
    height: 50%;
}

.col-center-bottom{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
}

.col-center-bottom input{
    width: 50%;
}

.col-center-bottom span{
    font-size: 12px;
    align-self: center;
    margin: 0 20px;
    color: white;
}

.col-center-top i{
    font-size: 20px;
    margin: 0 10px;
    color: white;
}

#play{
    font-size: 30px;
    margin: 0 15px;
    color: white;
}
/* END FOOTER STYLE */

/* HOVER EFFECTS */
.menù ul li:hover, .playlist ul li:hover, .user-top a:hover{
    color: white;
}

.title-song p:hover{
    text-decoration: underline;
}

.under-header-col span a:hover{
    color: white;
}

.button button:hover{
    padding: 15px 50px;
}

.icons i:hover{
    color: white;
}

.img-hover:hover i{
    display: block;
}

.img-hover:hover .background{
    display: block;
}
/* END HOVER EFFECTS */

/* MEDIA QUERY (first desktop) */
@media screen and (max-width:1200px){
    .top-row{
        flex-wrap: wrap;
    }

    .under-header-col{
        width: calc(100% / 5 - 30px);
    }

    .col{
        width: calc(100% / 4 - 10px);
    }
}

@media screen and (max-width:991px) {
    .under-header-col{
        width: calc(100% / 3 - 30px);
        text-align: center;
    }

    .active::after{
        margin-left: 40%;
    }

    .col{
        width: calc(100% / 2 - 10px);
    }
    
    .icons{
        flex-wrap: wrap;
    }

    .icons i{
        padding-bottom: 5px;
    }
}

@media screen and (max-width:768px){
    .under-header-col{
        width: calc(100% / 4 - 30px);
        text-align: center;
    }

    .sidebar{
        width: 50px;
    }

    .sidebar-contain{
        width: calc(100% - 10px);
        margin: 15px 5px;
    }

    .top{
        display: none;
    }

    .user{
        display: none;
    }

    .media-top{
        display: flex;
        flex-direction: column;
    }

    .media-top .logos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .media-top .logos img{
        width: 65%;
    }

    .media-user{
        display: flex;
        flex-direction: column;
    }

    .media-user .user-top{
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
        border: none;
    }

    .media-user .user-top img{
        width: 40%;
    }

    .media-user .user-bottom{
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        
    }

    .container-song{
        width: calc(100% - 70px);
        margin: 100px 70px 0;
    }

    header{
        width: 100%;
        left: 50px;
    }

    .button{
        padding: 0 60px;
    }
}











